#errContainer {
    width: 40%;
    margin: 2% auto;
    border: 1px solid #38c9b9;
    background-color: #caf7f6fa;
    border-radius: 5px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#errContainer h1 {
    align-self: center;
    font-size: 50px;
    color: #38c9b9;
}

#errContainer img {
    align-self: center;
    margin-bottom: 5%;
}

#errContainer p {
    align-self: center;
    text-align: center;
    font-size: 16pt;
}