#result1Container {
    border: 1px solid #38c9b9;
    color: #38c9b9;
    background-color: #dcebe9;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 5%;
}

#result1Container1 {
    border: 1px solid #dde0e0;
    padding: 10px;
    border-radius: 2px;
}

.ui.progress .bar {
    background: #38c9b9
}

.pic {
    border-right: 2px solid #dde0e0;
    /* padding: 5%; */
    padding-top: 15%;
}

#texts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h4 {
    margin-top: 0px;
}

.voteContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: -10px;
}

.yourVote {
    color: white;
    font-size: 10px;
    padding: 3px;
    border: 1px solid orangered;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: orangered;
}