#result1Container {
    border: 1px solid #38c9b9;
    color: #38c9b9;
    background-color: #dcebe9;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 5%;
}

#result1Container1 {
    border: 1px solid #dde0e0;
    padding: 10px;
    border-radius: 2px;
}

.ui.progress .bar {
    background: #38c9b9
}

.pic {
    border-right: 2px solid #dde0e0;
    padding: 5%;
    padding-top: 40%;
}